body {
    text-align: center;
    background-color: #3ca9d8;
    font-size: x-large;
    color: black;
}
h1 {
    text-align: center;
    background-color: #db9f2f;
    font-family: sans-serif;
    overflow: hidden;
  }
h2 {
    text-align: center;
    background-color: chartreuse;
    font-size: xx-large;

}